.body{
	font-size: 12px;
	background: #FFFDF8;
	font-family: 'Oswald', sans-serif;
}
.row{
	margin-bottom: 0;
}
.info{
  padding-bottom: 5px;
}
.top-nav li{
  float: left;
  display: inline-block;
  margin-right: 12px;
}
.nav{
	background: rgba(54, 31, 2, .6);
}
.header{
	position: relative;
	z-index: 5;
}
.nav-wrapper img{
	height: 40px;
	width: 60px;
}
.redes i{
	color: #fff;
	font-size: 1.3em;
}
.redes i:hover{
	color: #444;
}
.slider .slides{
	height: 350px !important;
}
#sidenav-overlay{
	background-color: rgba(0,0,0,0) !important;
}
.slider-titulo{
	font-size: 1.2em;
	font-weight: 500;
	text-shadow: 3px 3px 2px #d24b22;
	text-transform: uppercase;
}
.slider-frases .indicators{
	z-index: 6;
}
.slider.fullscreen ul.indicators{
	bottom: 130px;
}
.slider .slides li .caption{
	top: 55%;
}
.slider .indicators .indicator-item{

	height: 10px;
	width: 10px;
	margin: 0 3px;
}
.slider{
	    border-top: 3px solid #ED4901;
}
.slider .indicators .indicator-item.active{
	background-color: #f4511e;
}
.section-slider .btn{
	background-color: #00acc1 !important;
	border: .8px solid #00acc1 !important;
}
.section-slider .btn:hover{
	background-color: rgba(0,0,0,0) !important;
	box-shadow: inset 0 0 0 1px #00acc1;
}
.btn{
	font-size: .7em;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background-color: rgba(0,0,0,0) !important;
    border: .8px solid #ff5722 !important;

}
.btn:hover{
	color: #fff !important;
	background-color: #ef6c00 !important;
}
.publicaciones-recientes{
	padding-top: 270px;
}
.section-titles{
	font-size: 1.7em;
	color: #e65100;
    font-weight: 500;
    text-transform: uppercase;
}
.publicaciones-recientes .card-image img,
.frases-dos .card-image img,{
	height: 200px;
}
.publicaciones-recientes img:hover{
	transform: scale(1.2);
	transition: all 1.5s ease ;
}
.collapsible-header{
	background: #00acc1 ;
	color: #fff;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
}
.collapsible-body{
	background-color: #fff;
}
.slider-frases .slider .indicators{
	bottom: 100px;
}
.mas-leidos{
	position: relative;
bottom: 80px;
}
.card-title{
	font-size: 1.5em !important;
}
.menu-redes i{
	float: left;
	margin-left: .5em;
	font-size: 2em;
	color: #fff;
	    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}
.menu-redes i:hover{
	border: 2px solid #fff;
}
.banner-footer{
	background-image: url(../img/lugar.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.banner-footer > div{
	overflow: hidden;
background: rgba(0, 1, 10, .85);
}
.mas-leidos .card-image{
	  background-color: #000; 
	  border-top: 3px solid #00acc1;    
}
.mas-leidos  img:hover{ 
	transition: all 1.3s ease ;
	background-color: #000;
	opacity: .6;
}
.email{
	color: #fff;
}
.parallax-container{
	height: 300px;
}
.banner{
	position: relative;
bottom: 60px;
}
.banner .header{
	font-size: 1.2em;
	color: #fff;
	top: 90px;
	border-bottom: 3px solid #00acc1; 
}
.banner p{
	font-size: .9em;
	color: #fff;
	z-index: 999;
	position: relative;
	top: 70px;
}
.relatos{
	position: relative;
bottom: 60px;
}
.relatos  img:hover{
	 transform: scale(1.2);
	transition: all 2s ease ;
	opacity: .8;
}
.frases-dos img:hover{
	opacity: .8;
}
.frases{
	position: relative;
bottom: 45px;
	border-top: 2px solid #00acc1;
}
.card .card-image{
	overflow: hidden;
}
.card .card-content .card-title{
	line-height: 10px;
}
.material-placeholder{
	padding-bottom: 15px;
}
.material-placeholder img,
.card.horizontal .card-image img{
	width: 100%;
	height: 250px;
}
.frases-dos{
	position: relative;
bottom: 50px;
}
.ultima-linea{

padding: 2px;
}
.ultima-linea p{
	font-size: .8em;
}
.footer{

}
.titulo-footer{
	font-size: 1.7em;
	color: #e65100;
    font-weight: 500;
    text-transform: uppercase;
}
.horizontal-title{
	font-size: 1.5em;
}
.card .card-content{
	padding: 10px;
}
.ir-arriba{
	display: none;
    padding: 5px;
    background: #00acc1;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 333;
}
.ir-arriba:hover{
	background-color: #e65100;
	transition: all .5s ease ;
}
.card .card-title,
 .horizontal-title{
	text-transform: uppercase;
}
@media (min-width: 360px){
	.slider.fullscreen ul.indicators{
	bottom: 300px;
	}
}
@media (min-width: 400px){
	.slider-titulo,
	.banner .header{
		font-size: 1.6em;
	}
	.banner p{
		font-size: 1.2em;
	}
	.section-slider .slider.fullscreen ul.slides{
		height: 450px !important;
	}
	.slider.fullscreen ul.indicators{
		bottom: 200px;
	}
	.publicaciones-recientes{
		padding-top: 350px;
	}
}
@media (min-width: 600px){
	.section-slider .slider.fullscreen ul.slides{
		height: 550px !important;
	}
	.slider.fullscreen ul.indicators{
		bottom: 100px;
	}
	.publicaciones-recientes{
		padding-top: 450px;
	}
	.slider-titulo,
	.section-titles,
	.banner .header{
		font-size: 2em;
	}
	.banner p{
		font-size: 1.6em;
	}
	.material-placeholder img{
		height: 300px;
	}
	.ultima-linea p{
		font-size: 1.2em;
	}
}
@media (min-width: 650px){
	.mas-leidos .card-image img{
		height: 350px;
	}
	.slider.fullscreen ul.indicators{
		bottom: 300px;
	}
	.material-placeholder img{
		height: 250px;
	}
}
@media (min-width: 768px){
	.section-slider .slider.fullscreen ul.slides{
		height: 750px !important;
	}
	.publicaciones-recientes{
		padding-top: 650px;
	}
	.slider-titulo, 
	.section-titles, 
	.banner .header{
		font-size: 2.5em;
	}
	.banner p{
		font-size: 2em;
	}
	.section-slider .btn{
		font-size: 1.2em;
	}
}
@media (min-width: 800px){
	.slider.fullscreen ul.indicators{
		bottom: 550px;
	}
}
@media (min-width: 980px){
	.relatos .card.horizontal .card-image img{
	height: 280px;
	}
}
@media (min-width: 1024px){
	.section-slider .btn{
		font-size: 1.3em;
		height: 50px;
		padding: 10px 10px;
	}
	.slider-titulo{
		font-size: 2.8em;
	}
	.material-placeholder img{
		height: 300px;
	}
	.banner .header{
		font-size: 3em;
		top:130px;
	}
	.banner p{
		top: 110px;
	}
	.parallax-container{
		height: 400px;
	}
	.nav-wrapper img{
		height: 50px;
    	width: 80px;
	}
	.btn{
		font-size: .8em;
	}
	.card .card-content p{
		font-size: 1.2em;
	}
	.collapsible-header{
		font-size: 1.4em;
	}	
}
@media (min-width: 1280px){
	.slider.fullscreen ul.indicators{
		bottom: 0;
		top: 700px;
	}
	.card .card-content{
		padding: 20px;
	}
}   


